Csv reading

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/CY07_MSU_SCH_QQQ.csv')

In [ ]:
country_vs_code_data = pd.read_csv('/content/countries_codes_and_coordinates.csv')

Score file to csv

In [ ]:
score_file = pd.read_csv (r'/content/scores.txt')
score_file.to_csv(r'/content/scores.csv', index = None)

In [ ]:
scores = pd.read_csv('/content/scores.csv')

In [ ]:
data.shape

(21903, 198)

In [ ]:
data

       Unnamed: 0  CNTRYID  CNT  ...     SENWT             VER_DAT  BOOKID
0               1        8  ALB  ...  24.81933    09MAY19:11:20:57     NaN
1               2        8  ALB  ...  20.20900    09MAY19:11:20:57     NaN
2               3        8  ALB  ...  20.63480    09MAY19:11:20:57     NaN
3               4        8  ALB  ...  18.44654    09MAY19:11:20:57     NaN
4               5        8  ALB  ...  45.40500    09MAY19:11:20:57     NaN
...           ...      ...  ...  ...       ...                 ...     ...
21898       21899      983  QRT  ...  32.18244    01MAY19:20:24:14     NaN
21899       21900      983  QRT  ...  32.18244    01MAY19:20:24:14     NaN
21900       21901      983  QRT  ...  32.18244    01MAY19:20:24:14     NaN
21901       21902      983  QRT  ...  32.18244    01MAY19:20:24:14     NaN
21902       21903      983  QRT  ...  16.09122    01MAY19:20:24:14     NaN

[21903 rows x 198 columns]

Analysing NaN Values

In [ ]:
data.isna().sum()

Unnamed: 0              0
CNTRYID                 0
CNT                     0
CNTSCHID                0
CYC                     0
                    ...
W_SCHGRNRABWT           0
W_FSTUWT_SCH_SUM        0
SENWT                   0
VER_DAT                 0
BOOKID              21903
Length: 198, dtype: int64

Analysing unique values for each feature

In [ ]:
for i in data.columns:
  print(f"{i} : {data[i].nunique()}")

Unnamed: 0 : 21903
CNTRYID : 80
CNT : 80
CNTSCHID : 21903
CYC : 1
NatCen : 79
Region : 142
STRATUM : 1188
SUBNATIO : 86
OECD : 2
ADMINMODE : 1
LANGTEST : 54
SC001Q01TA : 5
SC013Q01TA : 2
SC016Q01TA : 101
SC016Q02TA : 101
SC016Q03TA : 67
SC016Q04TA : 95
SC017Q01NA : 4
SC017Q02NA : 4
SC017Q03NA : 4
SC017Q04NA : 4
SC017Q05NA : 4
SC017Q06NA : 4
SC017Q07NA : 4
SC017Q08NA : 4
SC161Q01SA : 2
SC161Q02SA : 2
SC161Q03SA : 2
SC161Q04SA : 2
SC161Q05SA : 2
SC162Q01SA : 2
SC155Q01HA : 4
SC155Q02HA : 4
SC155Q03HA : 4
SC155Q04HA : 4
SC155Q05HA : 4
SC155Q06HA : 4
SC155Q07HA : 4
SC155Q08HA : 4
SC155Q09HA : 4
SC155Q10HA : 4
SC155Q11HA : 4
SC156Q01HA : 2
SC156Q02HA : 2
SC156Q03HA : 2
SC156Q04HA : 2
SC156Q05HA : 2
SC156Q06HA : 2
SC156Q07HA : 2
SC156Q08HA : 2
SC011Q01TA : 3
SC012Q01TA : 3
SC012Q02TA : 3
SC012Q03TA : 3
SC012Q04TA : 3
SC012Q05TA : 3
SC012Q06TA : 3
SC012Q07TA : 3
SC042Q01TA : 3
SC042Q02TA : 3
SC154Q01HA : 2
SC154Q02WA : 2
SC154Q03WA : 2
SC154Q04WA : 2
SC154Q05WA : 2
SC154Q06WA : 2
SC154Q07WA : 2
SC154Q08WA : 2
SC154Q09HA : 2
SC154Q10WA : 2
SC154Q11HA : 2
SC036Q01TA : 2
SC036Q02TA : 2
SC036Q03NA : 2
SC037Q01TA : 3
SC037Q02TA : 3
SC037Q03TA : 3
SC037Q04TA : 3
SC037Q05NA : 3
SC037Q06NA : 3
SC037Q07TA : 3
SC037Q08TA : 3
SC037Q09TA : 3
SC037Q10NA : 3
SC165Q01HA : 2
SC165Q02HA : 2
SC165Q03HA : 2
SC165Q04HA : 2
SC165Q05HA : 2
SC165Q06HA : 2
SC165Q07HA : 2
SC165Q08HA : 2
SC165Q09HA : 2
SC165Q10HA : 2
SC166Q02HA : 4
SC166Q03HA : 4
SC166Q05HA : 4
SC166Q06HA : 4
SC167Q01HA : 2
SC167Q02HA : 2
SC167Q03HA : 2
SC167Q04HA : 2
SC167Q05HA : 2
SC167Q06HA : 2
SC158Q01HA : 2
SC158Q02HA : 2
SC158Q04HA : 2
SC158Q07HA : 2
SC158Q08HA : 2
SC158Q09HA : 2
SC158Q12HA : 2
SC061Q01TA : 4
SC061Q02TA : 4
SC061Q03TA : 4
SC061Q04TA : 4
SC061Q05TA : 4
SC061Q11HA : 4
SC061Q06TA : 4
SC061Q07TA : 4
SC061Q08TA : 4
SC061Q09TA : 4
SC061Q10TA : 4
SC002Q01TA : 1668
SC002Q02TA : 1628
SC048Q01NA : 101
SC048Q02NA : 96
SC048Q03NA : 101
SC004Q01TA : 946
SC004Q02TA : 586
SC004Q03TA : 579
SC004Q04NA : 435
SC004Q05NA : 158
SC004Q06NA : 178
SC004Q07NA : 367
SC018Q01TA01 : 357
SC018Q01TA02 : 206
SC018Q02TA01 : 337
SC018Q02TA02 : 173
SC018Q05NA01 : 298
SC018Q05NA02 : 136
SC018Q06NA01 : 193
SC018Q06NA02 : 110
SC018Q07NA01 : 78
SC018Q07NA02 : 35
SC025Q01NA : 101
SC159Q01HA : 2
SC003Q01TA : 9
SC053Q01TA : 2
SC053Q02TA : 2
SC053Q03TA : 2
SC053Q04TA : 2
SC053Q12IA : 2
SC053Q13IA : 2
SC053Q09TA : 2
SC053Q10TA : 2
SC053Q14IA : 2
SC053Q15IA : 2
SC053Q16IA : 2
SC053D11TA : 131
SC150Q01IA : 2
SC150Q02IA : 2
SC150Q03IA : 2
SC150Q04IA : 2
SC150Q05IA : 2
SC164Q01HA : 92
SC064Q01TA : 101
SC064Q02TA : 101
SC064Q03TA : 101
SC064Q04NA : 101
SC152Q01HA : 2
SC160Q01WA : 4
SC052Q01NA : 2
SC052Q02NA : 2
SC052Q03HA : 2
PRIVATESCH : 6
SCHLTYPE : 3
STRATIO : 13104
SCHSIZE : 2624
RATCMP1 : 5637
RATCMP2 : 684
TOTAT : 618
PROATCE : 2651
PROAT5AB : 3932
PROAT5AM : 4249
PROAT6 : 1222
CLSIZE : 9
CREACTIV : 4
EDUSHORT : 561
STAFFSHORT : 784
STUBEHA : 3550
TEACHBEHA : 1555
SCMCEG : 536
W_SCHGRNRABWT : 12947
W_FSTUWT_SCH_SUM : 21075
SENWT : 13044
VER_DAT : 79
BOOKID : 0

Dropping unnecessary features from country vs code dataset

In [ ]:
country_vs_code_data

               Country Alpha-2 code  ... Latitude (average) Longitude (average)
0          Afghanistan         "AF"  ...               "33"                "65"
1              Albania         "AL"  ...               "41"                "20"
2              Algeria         "DZ"  ...               "28"                 "3"
3       American Samoa         "AS"  ...         "-14.3333"              "-170"
4              Andorra         "AD"  ...             "42.5"               "1.6"
..                 ...          ...  ...                ...                 ...
251  Wallis and Futuna         "WF"  ...            "-13.3"            "-176.2"
252     Western Sahara         "EH"  ...             "24.5"               "-13"
253              Yemen         "YE"  ...               "15"                "48"
254             Zambia         "ZM"  ...              "-15"                "30"
255           Zimbabwe         "ZW"  ...              "-20"                "30"

[256 rows x 6 columns]

In [ ]:
country_vs_code_data.drop(['Alpha-2 code','Numeric code','Latitude (average)','Longitude (average)'], axis =1, inplace = True)

#Merge with Country Names

First I did some string arrangements.

In [ ]:
for i, j in enumerate(country_vs_code_data["Alpha-3 code"]):
  country_vs_code_data["Alpha-3 code"][i] = j.replace('"','').replace(' ','')

Then merge the data with country-code data with using left join.

In [ ]:
data = data.merge(country_vs_code_data, left_on='CNT',right_on='Alpha-3 code', how='left').drop(['Alpha-3 code'],axis =1)

In [ ]:
data.isna().sum()

Unnamed: 0              0
CNTRYID                 0
CNT                     0
CNTSCHID                0
CYC                     0
                    ...
W_FSTUWT_SCH_SUM        0
SENWT                   0
VER_DAT                 0
BOOKID              22560
Country              1261
Length: 199, dtype: int64

In [ ]:
nan_values = data[data['Country'].isna() == True]

To see which values â€‹â€‹were NaN, I synced it to a temporary dataset and looked at the unique values.

In [ ]:
nan_values['CNT'].unique()

array(['QAZ', 'TAP', 'KSV', 'QCI', 'QMR', 'QRT'], dtype=object)

While entering country names according to country codes here, I saw that some country names were missing and added them.

In [ ]:
""" QAZ = Baku(Azerbaijan)
    QRT = Tatarstan(RUS)
    TAP = Tayvan
    KSV = Kosovo
    QCI = B-S-J-Z (China)
    QMR = Moscow Region(RUS)"""

' QAZ = Baku(Azerbaijan)\n    QRT = Tatarstan(RUS)\n    TAP = Tayvan\n    KSV = Kosovo\n    QCI = B-S-J-Z (China)\n    QMR = Moscow Region(RUS)'

In [ ]:
data["Country"][data["CNT"] == "QAZ"] = "Baku(Azerbaijan)"
data["Country"][data["CNT"] == "QRT"] = "Tatarstan(RUS)"
data["Country"][data["CNT"] == "TAP"] = "Chinese Taipei"
data["Country"][data["CNT"] == "KSV"] = "Kosovo"
data["Country"][data["CNT"] == "QCI"] = "B-S-J-Z (China)"
data["Country"][data["CNT"] == "QMR"] = "Moscow Region(RUS)"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#Merge with score

I changed the names of a few of them because the country names in the score csv did not match with the final version of the data.

In [ ]:
data['Country'][data['Country'] == 'Moldova, Republic of'] = "Moldova"
data['Country'][data['Country'] == 'Viet Nam'] = "Vietnam"
data['Country'][data['Country'] == 'Korea, Republic of'] = "South Korea"
data['Country'][data['Country'] == 'Czech Republic'] = "Czechia"
data['Country'][data['Country'] == 'Brunei'] = "Brunei Darussalam"
data['Country'][data['Country'] == 'Russia'] = "Russian Federation"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Then merge the data with country-code data with using left join.

In [ ]:
data = data.merge(scores, on='Country', how='left')


I looked at which countries the NaN values â€‹â€‹are in here.

In [ ]:
nan_values = data[data['Score'].isna() ==  True]

In [ ]:
nan_values['Country'].unique()

array(['Baku(Azerbaijan)', 'Brunei Darussalam', 'Chinese Taipei',
       'Russian Federation', 'Vietnam', 'Spain',
       'Macedonia, the former Yugoslav Republic of', 'B-S-J-Z (China)',
       'Moscow Region(RUS)', 'Tatarstan(RUS)'], dtype=object)


Since Moscow and Tatarstan are part of the Russian Federation, I equalized their scores.

In [ ]:
data['Score'][data['Country'] == 'Moscow Region(RUS)'] = 481.7
data['Score'][data['Country'] == 'Tatarstan(RUS)'] = 481.7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy


The data we found from the internet: 
 Spain's score 483, Vietnam's score 514 and Makedonia's 400.

In [ ]:
#spain 483, vietnam = 514, makedonia = 400  intten bulduÄŸumuz veriler
data['Score'][data['Country'] == 'Spain'] = 483
data['Score'][data['Country'] == 'Vietnam'] = 514
data['Score'][data['Country'] == 'Macedonia, the former Yugoslav Republic of'] = 400

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
data

       Unnamed: 0  CNTRYID  CNT  ...  BOOKID         Country  Score
0               1        8  ALB  ...     NaN         Albania  419.7
1               2        8  ALB  ...     NaN         Albania  419.7
2               3        8  ALB  ...     NaN         Albania  419.7
3               4        8  ALB  ...     NaN         Albania  419.7
4               5        8  ALB  ...     NaN         Albania  419.7
...           ...      ...  ...  ...     ...             ...    ...
22555       21899      983  QRT  ...     NaN  Tatarstan(RUS)  481.7
22556       21900      983  QRT  ...     NaN  Tatarstan(RUS)  481.7
22557       21901      983  QRT  ...     NaN  Tatarstan(RUS)  481.7
22558       21902      983  QRT  ...     NaN  Tatarstan(RUS)  481.7
22559       21903      983  QRT  ...     NaN  Tatarstan(RUS)  481.7

[22560 rows x 200 columns]

I dropped the unnecessary features.

In [ ]:
data.drop(['Unnamed: 0','CNTRYID','CYC','ADMINMODE','BOOKID','OECD','VER_DAT','SUBNATIO','STRATUM','Region','NatCen'], axis = 1, inplace = True)

I converted our new dataset to csv

In [ ]:
data.to_csv('/content/pisa_data_2.csv',index = False)

In [ ]:
data.head()

   CNT  CNTSCHID  LANGTEST  ...     SENWT  Country  Score
0  ALB    800002     140.0  ...  24.81933  Albania  419.7
1  ALB    800003     140.0  ...  20.20900  Albania  419.7
2  ALB    800004     140.0  ...  20.63480  Albania  419.7
3  ALB    800005     140.0  ...  18.44654  Albania  419.7
4  ALB    800006     140.0  ...  45.40500  Albania  419.7

[5 rows x 189 columns]